<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">



<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.css" />
    <title>update</title>
</head>
<div class="container">
    <body>
    <form method="Post" th:action="@{/event/update}">
        <input type="hidden" th:field="${Event.eventID}"><br>
        <p>Indtast dato</p>

        <input   type="date"   th:field="${Event.date}"/>
        <p>Indtast tid</p>
        <input   type="text"   th:field="${Event.time}"/>
        <p>Indtast beskrivelse</p>
        <input   type="text"   th:field="${Event.description}"/>
        <p>Indtast pladser</p>
        <input   type="text"   th:field="${Event.slots}"/><br>
        <input   type="submit"   value="Send"   />
    </form>
    </body>
</div>
</html>