<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">



<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.css" />
    <title>update</title>
</head>
<div class="container">
    <body>
    <form method="Post" th:action="@{/relative/update}">
        <input type="hidden" th:field="${Relative.relatedID}"><br>
        <p>Indtast Fornavn</p>
        <input   type="text"   th:field="${Relative.firstName}"/>
        <p>Indtast Efternavn</p>
        <input   type="text"   th:field="${Relative.lastName}"/>
        <p>Indtast Email</p>
        <input   type="text"   th:field="${Relative.email}"/>
        <p>Indtast Telefonnummer</p>
        <input   type="text"   th:field="${Relative.phoneNumber}"/><br>

        <input   type="submit"   value="Opdater"   />
    </form>
    </body>
</div>
</html>